# Dependencies
node_modules
npm-debug.log

# Next.js build output
.next
out

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# Docker files
Dockerfile
Dockerfile.dev
docker-compose.yml
.dockerignore

# Editor/OS
.vscode
.idea
.DS_Store

# Logs
*.log

# Testing
coverage